@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
  margin:0px;
  padding: 0px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 0%, rgba(27, 26, 26, 0.829) 100%);
   
}
/* Navbar */
nav{
  display: flex;
  justify-content: space-between;
  left: 0;
	top: 0;
	z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav ul{
	display: flex;
}
ul{
  list-style: none;
}
nav ul li a{
  list-style: none;
  display: flex;
  color: white;
  font-family: 'Courgette';
  font-size: 1.1rem;
  height: 38px;
  line-height: 43px;
  margin: 3px;
  padding: 0 .8rem;
  font-weight: 500;
  letter-spacing: .06rem;
  transition: .5s ease-in-out;
}
nav ul li a:hover,
nav ul li a.active{
  color: #ff9b42;
  cursor: pointer;
}
/* nav ul li a:hover::after,
nav ul li a.active::after{
  content: "";
  position: absolute;
  background-color: #f8961e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: .3s;
} */
.logo img{
  margin-left: 2rem;
  width: 8.5rem;
  height: 5.5rem;
  border-radius: 90%;
  transition: 1s;
}

.logo img:hover{
  transform: scale(1.2);
  box-shadow: 0px 5px 10px 2px rgba(56, 56, 56, 0.25);
  transition: 1s;
  cursor: pointer;
}
nav .menu-btn,
.menu-icon{
		display:none;
}

/* Home */
.principal{
  display: flex;
  justify-content: space-between;
  width:100%;
  padding-bottom: 4rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.principal::before{
  position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.left{
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.right{
  flex: 1;
  top: 6.5rem;
  right: 1.5rem;
  position: relative;
  background: rgb(237,0,100);
  background: linear-gradient(225deg, rgba(237, 0, 99, 0.953) 0%, rgba(232, 150, 8, 1) 51%, rgba(254, 226, 12, 0.953) 100%);
  height: 510px;
  border-radius: .2rem;
}

.principal-text{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(230, 157, 0);
  text-overflow: inherit;
}
.description{
  color: #fff !important;
}
.vitalidad{
  font-size: 3rem;
}
.principal-text div:nth-of-type(3){
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Quicksand';
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}
.principal-btn{
  margin: 1rem .5rem;
}
.figures{
  display: flex;
  gap: 2rem;
}
.figures div{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Quicksand';
}
.figures div span:nth-of-type(1){
  color: white;
  font-size: 2rem;
}
.figures div span:nth-of-type(2){
  color: rgb(223, 223, 223);
  text-transform: uppercase;
}
.btn{
  background-color: none;
  padding: .8em 2em;
  border: 2px solid;
  transition: 1s;
  text-decoration: none;
  border-radius: 2rem;
}
.btn-slide{
  color:white;
  border-color: #fb8b24;
  font-weight: bold;
  position: absolute;
  font-size: 1.1rem;
  padding: 1rem 2.5rem;
  margin: 0 .5rem;
}
.btn-slide:hover, .btn-slide:focus{
  cursor: pointer;
  border-color: #fb8b24;
  background-size: cover;
  color: white;
  transition: 1s;
  box-shadow: inset 15rem 0 0 0 #fb8b24;
}
.btn-right{
  position: absolute;
  right: 3rem;
  margin-right: 2.5rem;
  top: 2rem;
  background-color: none;
  padding: .8em .8em;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  transition: 1.2s;
  text-decoration: none;
  border-radius: 1rem;
}
.btn-right:hover, .btn-right:focus{
  cursor: pointer;
  color: black;
  transition: 1s;
  box-shadow: inset 13em 0 0 0 white;
  transition: 1.5s;
}
.heart-rate{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  background-color: rgb(29, 26, 23);
  padding: 1rem;
  align-items: flex-start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 2rem;

}
.heart-rate span:nth-child(2){
  font-family: 'Quicksand';
  color: rgb(189, 189, 189);
}
.heart-rate span:nth-child(3){
  color: white;
  font-size: 1.5rem;
}
.gym-exercises{
  position: absolute;
  padding: 0;
  top: 14rem;
  right: 6rem;
  width: 25rem;
}
.calories{
  display: flex;
  background-color: rgb(29, 26, 23);
  border-radius: 5px;
  padding: .5rem;
  width: fit-content;
  position: absolute;
  top: 23rem;
  right: 35rem;
}
.calories div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calories span:nth-child(1){
  color: rgb(189, 189, 189);
  font-family: 'Quicksand';
}
.calories span:nth-child(2){
  color: white;
  font-size: 1.5rem;
}
.burn-calories{
  position: relative;
}

/*rutinas*/
.div-rutlines{
  padding: 2.5rem 0;
}

.routlines{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  margin-top: .5rem;
}
.routlines-header{
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: rgb(230, 157, 0);
  text-transform: uppercase;
  font-style: italic;
}

.program-categories{
 margin-top: .5rem;
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(12rem,26rem));
 gap: 2rem;
 justify-content: center;
}
.card{
  overflow: hidden;
  box-shadow: 0 1px 3px grey;
  border-radius: .5rem 3rem .5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  padding: 0 .5rem 0 0;
  height: 32rem;
  transition: 1s;
  background-image: linear-gradient(to right, rgb(29, 26, 23) 0%, rgba(44, 39, 39, 0.877) 100%);
}
.card_title{
  padding: 0;
  text-align: center;
  color: #fff;
}
.card_video{
  padding: 0 .5rem;
  width: 400px;
  height: 250px;
}
.card_description{
  padding: 0 2rem;
  text-align: center;
  font-family: 'QuickSand';
  font-size: 1rem;
  color: #fff;
}
.card:hover{
  transform: scale(1.03);
  transition: 1s;
  background-image: none;
}

/* Clases */
.schedule{
  margin-top: 1rem;
  padding-bottom: 2.5rem;
}
.schedule_container{
  margin-top: 1.2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.programs_header{
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: rgb(230, 157, 0);
  text-transform: uppercase;
  font-style: italic;
}

.container{
  width: 90%;
  max-width: 1280px;
  margin: 1.5rem auto 0 auto;
  background: rgb(214, 214, 214);
  border-radius: 5rem;
}
table{
  width: 100%;
  text-align: center;
  
}
th{
  padding: 1rem 0;
  font-style: italic;
}

.time{
  font-style: italic;
}
.dark{
  font-weight: bold;
}

/* price */
.prices{
  padding: 2.5rem;
}

.description_price{
  color:#fff;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Quicksand';
  text-transform: none;
  letter-spacing: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}


.carousel{
  margin: 0 auto;
  margin-top: 3rem;
  width: 70%;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.carousel_card{
  color: #fff;
  text-align: center;
  overflow: hidden;
  transition: all .1s ease;
  border: 1px solid #fff;
  border-radius: 8px;
  height: 400px;
  background-image: linear-gradient(to right, rgb(29, 26, 23) 0%, rgba(44, 39, 39, 0.877) 100%);
}
.card-top h1{
  font-size: 1.5rem;
  font-style: 'Quicksand';
  margin: 2rem 1rem;
}
.card-top > img{
  width: 276px;
  height: 200px;
  object-fit: cover;
}
.card-bottom{
  margin: 2rem 1rem;
}
.item-price{
  position: relative;
  font-size: 1.3rem;
}
.item-price::before{
  content: '';
  background: rgb(230, 157, 0);
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  height: .15rem;
  border-radius: 2rem;
}

.white-text{
  font-family: Arial, Helvetica, sans-serif;
}
.stroke-text{
  color:transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(230, 157, 0);
}